<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="addVaccCert.css">
    </head>
    
    <body>
        <div class="sidebar">
            <div class="userProfile">
                <img src="logo.jpg" height="70px" width="210px">
                <img src="user.png" height="70px" width="70px">
                <p><b>Name</b></p>
                <p><b>Bilkent ID</b></p>
                <p><b>Mail</b></p>
            </div>
            
            <div class="campusAccess">
                <h4>Your Campus Access Status:</h4>
                <p>You are allowed on campus.</p>
            </div>

            <ul>
                <li><a href="#"> 
                    <span class="item">Classes</span>
                </a></li>
                <li><a href="#"> 
                    <span class="item">HES Code Tracker</span>
                </a></li>
                <li><a href="#"> 
                    <span class="item">Vaccine Tracker</span>
                </a></li>
                <li><a href="#"> 
                    <span class="item">PCR Tracker</span>
                </a></li>
                <li><a href="#"> 
                    <span class="item">Quarantine Tracker</span>
                </a></li>
                <li><a href="#"> 
                    <span class="item">Covid History</span>
                </a></li>
            </ul>
        </div>
        <div class="topbar">
            <div>
                <h1>Add Vaccine Certificate</h1>
            </div>
        </div>
        <form>
            <div class="container">
                <h1>Vaccine Certificate: </h1>
                <input type="file" id="file" accept=".pdf" required>
            </div>
            <div class="container">
                <ul><li><a href="VaccineTracker.html"> 
                    <span class="item">Submit</span>
                </a> </li></ul>
            </div>
            <div class="container">
               <span style="padding-top:350px"> 
            </div>
        </form>
    </body>
</html>
