<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="HESCodeTracker.css">
    </head>
    
    <body>
        <div class="sidebar">
            <div class="userProfile">
                <img src="logo.jpg" height="70px" width="210px">
                <img src="user.png" height="70px" width="70px">
                <p><b>Name</b></p>
                <p><b>Bilkent ID</b></p>
                <p><b>Mail</b></p>
            </div>
            
            <div class="campusAccess">
                <h4>Your Campus Access Status:</h4>
                <p>You are allowed on campus.</p>
            </div>

            <ul>
                <li><a href="#"> 
                    <span class="item">Classes</span>
                </a></li>
                <li><a href="#"> 
                    <span class="item">HES Code Tracker</span>
                </a></li>
                <li><a href="#"> 
                    <span class="item">Vaccine Tracker</span>
                </a></li>
                <li><a href="#"> 
                    <span class="item">PCR Tracker</span>
                </a></li>
                <li><a href="#"> 
                    <span class="item">Quarantine Tracker</span>
                </a></li>
                <li><a href="#"> 
                    <span class="item">Covid History</span>
                </a></li>
            </ul>
        </div>
        <div class="topbar">
            <div>
                <h1>HES Code Tracker</h1>
            </div>
        </div>
        <form>
            <table id="tbl_id" style="text-align:left" align="center">
                    <tr>
                        <th>HES Code</th>
                        <th>Name</th>
                        <th>Days Left</th>
                    </tr>
                    <tr>
                        <td>*9*9-999-99</td>
                        <td>HES Code Name0</td>
                        <td>Permanent</td>
                    </tr>
                    <tr>
                        <td>*9*9-999-99</td>
                        <td>HES Code Name1</td>
                        <td>Permanent</td>
                    </tr>
                    <tr>
                        <td>*9*9-999-99</td>
                        <td>HES Code Name2</td>
                        <td>Permanent</td>
                    </tr>
                    <tr>
                        <td>*9*9-999-99</td>
                        <td>HES Code Name3</td>
                        <td>361</td>
                    </tr>
            </table>

            <div class="container">
                <!--ul><li><a href="#"> 
                    <span class="item">Submit</span>
                </a></li></ul-->
                <ul><li><a href="AddHESCode.html"> 
                    <span class="item">Add New HES Code</span>
                </a> </li></ul>
            </div>

            <script type="text/javascript">

              function addMoreRows() {

                var rowsAdded = document.getElementById('user_id').value;

                for(var x=0; x<rowsAdded; x++) {
                  var newRow = document.getElementById('tbl_id').insertRow();

                  var newCell = newRow.insertCell();
                  newCell.innerHTML="<tr><td><input type='text' name='hes'></td></tr>";

                  newCell = newRow.insertCell();
                  newCell.innerHTML="<tr><td><input type='text' name='name'></td></tr>";

                  newCell = newRow.insertCell();
                  newCell.innerHTML="<tr><td><input type='text' name='dayleft'></td></tr>";

                }

              }
            </script>
            <div class="container">
               <span style="padding-bottom:%0"> 
            </div>
        </form>
    </body>
</html>